@media only screen and (max-width:1140px) {
    .navigation > li > a {
        padding-right: 15px;
        padding-left: 15px;
    }
   
    }
    @media only screen and (max-width:1023px) {
    .navigation > li > a {
        padding-right: 15px;
        padding-left: 15px;
    }
    
    }
    @media only screen and (max-width:767px) {
    .nav-outer {
        padding-left: 0px;
    }
     .get-btn {
        left: auto;
        right: 0px;
    }
    .navbar-header {
        text-align: right;
        left: 0px;
    }
    .navbar-header > button{
        display:block !important;
    }
    .navigation li.dropdown > a:after, .navigation > li.dropdown > a:before, .navigation > li > ul > li > a::before, .navigation > li > ul > li > ul > li > a::before {
        left: 15px;
    }
    .navbar-collapse > .navigation > li > ul, .navbar-collapse > .navigation > li > ul > li > ul {
        right: auto !important;
        left: auto !important;
    }
    .navbar-collapse > .navigation > li, .navbar-collapse > .navigation > li > ul > li, .navbar-collapse > .navigation > li > ul > li > ul > li {
        right: 0px !important;
    }
    .navbar-collapse > .navigation > li > a, .navbar-collapse > .navigation > li > ul > li > a, .navbar-collapse > .navigation > li > ul > li > ul > li > a {
        text-align: right;
    }
    
    }
 

    @media only screen and (max-width:499px) {

    .intro-style-one .content-column .inner {
        padding-left: 0px;
    }
    }
    
      @media screen and (max-width:991px) {
    
        table td {
          text-align: right;
        }
    
    
        table td:before {
          float: right;
        }
      }