 

body {
	font-family: 'Droid Arabic Kufi', sans-serif;
	text-align:right;
}

.main-menu .navigation > li {
	float: right;
}
.main-menu .navigation > li:after {
	right: 0;
	left: auto;
}
.main-menu .navigation > li:hover:before, .main-menu .navigation > li.current:before{
	right: 0;
	left: auto;
}
.main-menu .navigation > li > ul {
	right: -8px;
}

.main-menu .navigation > li > ul > li.dropdown > a:after {
	left: 10px;
	right: auto;
}
.main-menu .navigation > li > ul > li > ul {
	right: 100%;
}
.main-menu .navigation li > ul > li.dropdown:hover > ul {
	right: 100%;
}
.main-menu .navbar-collapse > ul li.dropdown .dropdown-btn {
	left: 10px;
	right: auto;
}

.main-menu .navigation > li.get-btn> ul {
	left: 8px;
	right: auto;
}

.intro-style-one .content-column h3:after {
	right: 0px;
	left: auto;
}
.default-title:after {
	right: 0px;
	left: auto;
}
 
 
.list li a {
	padding: 10px 20px 10px 10px;
}
 
.list li a:before{
	content: "\f104";
	right: 0;
	left: auto;
}
.img-responsive{
    display: block;
    width:100px;
    height: auto;
}
 
.bounce-in-header .logo {
    padding: 8px;
}

.pull-left.flip {
    float: right !important;
}
 
 